<div class="fater-logo">
    学生就业管理系统
</div>
<input id="sessionUserType" type="hidden" value="{{ request.session.type }}">
{% if request.session.type == 0 %}
<div class="fater-menu-vertical">
    <div class="fater-menu-item">
        <a href="/projects/show/">
            <span class="fa fa-home"></span> 系统首页
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/projects/project/show/">
            <span class="fa fa-newspaper-o"></span> 课程信息管理
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/projects/grade/show/">
            <span class="fa fa-cubes"></span> 班级信息管理
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/projects/student/show/">
            <span class="fa fa-users"></span> 学生信息管理
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/projects/teacher/show/">
            <span class="fa fa-street-view"></span> 教师信息管理
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/projects/score/scoreshow/">
            <span class="fa fa-line-chart"></span> 学生成绩浏览
        </a>
    </div>
</div>
{% elif  request.session.type == 1 %}
<div class="fater-menu-vertical">
    <div class="fater-menu-item">
        <a href="/projects/show/">
            <span class="fa fa-home"></span> 系统首页
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/projects/work/teachershow/">
            <span class="fa fa-language"></span> 教师工作安排
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/projects/score/scoreshow/">
            <span class="fa fa-line-chart"></span> 学生成绩管理
        </a>
    </div>
</div>
{% elif  request.session.type == 2 %}
<div class="fater-menu-vertical">
    <div class="fater-menu-item">
        <a href="/projects/show/">
            <span class="fa fa-home"></span> 系统首页
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/projects/work/studentshow/">
            <span class="fa fa-hand-paper-o"></span> 学生选课记录
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/projects/score/scoreshow/">
            <span class="fa fa-line-chart"></span> 个人成绩记录
        </a>
    </div>
</div>
{% endif %}
